[color]
    ui = auto

[user]
	name = juxu
	email = jun.xu.falcon@gmail.com

[core]
	editor = vim

[alias]
    co = checkout
    st = status
    br = branch
    ci = commit
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit 

[credential]
    helper = cache --timeout=3600000 //this is for github to record your username/pwd

